.button-cart {
  font-size:15px;
  background-color: rgb(84, 130, 200);
  border-radius: 5px;
  padding: 1px 3px;
  color: white;
  border: unset;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-bottom: 20px;
}

.button-cart:hover {
  background-color: #218838; 
}

.button-cart button {
  background: transparent; 
  border: none; 
  color: inherit; 
  font-size: inherit; 
  cursor: pointer; 
  outline: none; 
}
