.header-index {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
  }
.logoMrClean {
    width: 150px;
    background-color: #333;

}