*{
    font-family: Arial, Helvetica, sans-serif;
}
.itemListContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

.item-List{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border:1px solid rgb(96, 96, 96);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    
}
.item h2{
    font-size: 16px;
    text-align: center;
    font-weight: normal;

}
.item img{
    width: 140px;
    height: auto;

}

.item-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 50px auto;
    background-image: linear-gradient(to top, #ffffff, #f9faff, #f0f5ff, #e4f2ff, #d6efff, #d6efff, #d6efff, #d6efff, #e4f2ff, #f0f5ff, #f9faff, #ffffff);


}
.item-detail h2{
    font-size: 25px;
    font-weight: normal;
}
.item-detail p{
    margin: 10px 0px 5px 0px;
    font-size: 15px;
}

.item-detail img {
    width: 150px; /* Ancho fijo */
    height: auto; /* Alto fijo para que todas las imágenes sean del mismo tamaño */
}
.detalle-link{
    font-size:small;
    background-color: rgb(84, 130, 200);
    border-radius: 5px;
    padding: 5px 10px; /* Espaciado más cómodo */
    color: white;
    border: unset;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
    margin-bottom: 0px;  
    text-decoration: none;  
  }
  
  .detalle-link:hover {
    background-color: #218838; /* Un tono más oscuro para el hover */
  }
  