.navBar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(19, 71, 97);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    position: relative; /* Para facilitar el posicionamiento de elementos */
    margin-top: 10px;
    border-radius: 8px; /* Bordes redondeados para un aspecto más suave */
    width: 80%;
}

/* Estilos para la lista del navbar */
ul {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilos para los elementos de la lista */
li {
    margin: 0 15px;
    font-size: 18px;
    position: relative; /* Para facilitar el posicionamiento de pseudo-elementos */
}

/* Estilos para los enlaces */
li a {
    text-decoration: none;
    color: #ffffff; /* Cambié el color a blanco para mejorar la visibilidad */
    padding: 10px 15px; /* Espaciado interno para hacer los enlaces más clicables */
    border-radius: 5px; /* Bordes redondeados para un aspecto más suave */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

/* Efecto hover para enlaces */
li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente al pasar el mouse */
    color: #ffffff; /* Mantiene el texto blanco */
}

.login-icon {
    color: #ffffff; /* Color del ícono */
    width: 24px; /* Ajusta el tamaño según lo necesites */
    height: 24px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-decoration: none;
    display: flex; /* Para centrar el ícono verticalmente */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Centra horizontalmente */
    background-color: rgba(19, 71, 97); /* Fondo semi-transparente para resaltar */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px; /* Espaciado interno para hacer el ícono más clicable */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

/* Efecto hover */
.login-icon:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

